manifold-learning/cours1/0-Introduction.pdf
manifold-learning/cours1/1-DensityEstimation.pdf
manifold-learning/cours1/Introduction-R.pdf
manifold-learning/cours1/manifold_lab1.pdf
manifold-learning/cours2/2-HighDimensionalData.pdf
manifold-learning/cours2/article-datasets/TR_Dimensionality_Reduction_Review_2009.pdf
manifold-learning/cours2/article-datasets/drtoolbox/*
manifold-learning/cours2/manifold_lab2.pdf
text-mining/td.pdf
text-mining/tm.pdf
text-mining/support de cours/document(1).pdf
text-mining/support de cours/document(2).pdf
text-mining/support de cours/document(3).pdf
text-mining/support de cours/document(4).pdf
text-mining/support de cours/document.pdf
text-mining/support de cours/introduction.pdf
big-data-management/data-warehouse/m2dm-ed.pdf
model-based-learning/mise a niveau proba.pdf
parallel-computing/cours1/0_Intro.pdf
parallel-computing/cours1/pc4ds_lab1.pdf
parallel-computing/cours2/2_Better-code.pdf
parallel-computing/cours2/pc4ds_lab2.pdf
