manifold-learning/cours1/0-Introduction.pdf
manifold-learning/cours1/1-DensityEstimation.pdf
manifold-learning/cours1/Introduction-R.pdf
manifold-learning/cours1/manifold_lab1.pdf
manifold-learning/cours2/2-HighDimensionalData.pdf
manifold-learning/cours2/article-datasets/TR_Dimensionality_Reduction_Review_2009.pdf
manifold-learning/cours2/article-datasets/drtoolbox/*
manifold-learning/cours2/manifold_lab2.pdf
text-mining/td.pdf
text-mining/tm.pdf
text-mining/support de cours/document(1).pdf
text-mining/support de cours/document(2).pdf
text-mining/support de cours/document(3).pdf
text-mining/support de cours/document(4).pdf
text-mining/support de cours/document.pdf
text-mining/support de cours/introduction.pdf
big-data-management/data-warehouse/m2dm-ed.pdf
model-based-learning/mise a niveau proba.pdf
parallel-computing/cours1/0_Intro.pdf
parallel-computing/cours1/pc4ds_lab1.pdf
parallel-computing/cours2/2_Better-code.pdf
parallel-computing/cours2/pc4ds_lab2.pdf
model-based-learning/Model-based-Clustering-Classification.pdf
advanced-supervised-learning/cours1/Bibliographie.pdf
advanced-supervised-learning/cours1/Script R générant quelques exemples du cours.R
advanced-supervised-learning/cours1/cm-part_1.pdf
manifold-learning/cours3/3-Dimensionality_Estimation.pdf
manifold-learning/cours3/manifold_lab3.pdf
model-based-learning/tp/M2DM-TPclassification.pdf
model-based-learning/tp/VisaPremier.txt
parallel-computing/cours3/2_Faster-code.pdf
parallel-computing/cours3/pc4ds_lab3.pdf
text-mining/moby-dick.txt
advanced-supervised-learning/cours1/cm_2x2.pdf
advanced-supervised-learning/cours1/td.pdf
big-data-management/big-data/Spark 2-DM 2016 2017.pdf
big-data-management/big-data/The Fundamentals of Big Data v0.1 (DM 2016-17) .pdf
big-data-management/data-warehouse/projet-big-data.pdf
manifold-learning/cours4/manifold_lab4.pdf
parallel-computing/cours4/pc4ds_lab4.pdf
text-mining/selosse_td_moteur.zip
parallel-computing/cours4/3_Load-Balance.pdf
big-data-management/big-data/Spark 2-DM 2016 2017(1).pdf
manifold-learning/manifold_projet.pdf
manifold-learning/cours4/4-Metric_Preservation.pdf
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-1] Le Roi de fer - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-2] La Reine etranglee - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-3] Les Poisons de la couro - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-4] La Loi des males - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-5] La Louve de France - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-6] Le Lis et le Lion - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/epub/[Rois Maudits-7] Quand un roi perd la Fr - Druon,Maurice.epub
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-1] Le Roi de fer - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-2] La Reine etranglee - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-3] Les Poisons de la couro - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-4] La Loi des males - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-5] La Louve de France - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-6] Le Lis et le Lion - Druon,Maurice.txt
text-mining/projet/les_rois_maudits/txt/[Rois Maudits-7] Quand un roi perd la Fr - Druon,Maurice.txt
text-mining/td/moby-dick.txt
text-mining/td/td.pdf
text-mining/td/tm.pdf
manifold-learning/cours5/5-Distance_Preservation.pdf
manifold-learning/cours6/manifold_lab6.pdf
manifold-learning/cours6/minimnist.zip
model-based-learning/tp/TP-Classification-2.pdf
model-based-learning/tp/TPclustering.pdf
model-based-learning/tp/t10k-images-idx3-ubyte
model-based-learning/tp/t10k-labels-idx1-ubyte
model-based-learning/tp/train-images-idx3-ubyte
model-based-learning/tp/train-labels-idx1-ubyte
parallel-computing/cours5/pc4ds_lab5.pdf
text-mining/td/twitter.csv
text-mining/projet/les_rois_maudits/
deep-learning/cours4/DeepLearning_Vignette.pdf
deep-learning/cours4/deep_lab4.pdf
deep-learning/cours4/minimnist/data.txt
deep-learning/cours4/minimnist/labels.txt
deep-learning/cours4/sparseAutoencoder.pdf
manifold-learning/cours6/minimnist/data.txt
manifold-learning/cours6/minimnist/labels.txt
model-based-learning/MBL-Projet.pdf
model-based-learning/tps-corrections-exam/Exam-20-01-15-CorrectionExercice5.pdf
deep-learning/cours4/4-Autoencoders.pdf
big-data-management/big-data/Cassendra v0.1 DM 2016-2017 v0.2.pdf
big-data-management/big-data/Foundations of NoSQL DMKM 205-206.pptx
deep-learning/cours5/mnist_train.zip
deep-learning/cours6/mnist_train.zip
graphical-models/10.1.1.15.4522.pdf
graphical-models/Charniak_91.pdf
graphical-models/DMKM-S2S3-part1-tutorials.pdf
graphical-models/DMKM-S2S3-part1.pdf
graphical-models/DMKM-S2S3-part2.pdf
graphical-models/exams/examen(1).pdf
graphical-models/exams/examen-coursL.pdf
graphical-models/exams/examen.pdf
graphical-models/videos/03-01-part1.mp4
graphical-models/videos/13-12-part2.mp4
graphical-models/videos/17-01-part1.mp4
big-data-management/big-data/03-Introduction Key-value NoSQL - Redis v 2.pdf
graphical-models/videos/03-01-part2.mp4
graphical-models/videos/10-01-part1.mp4
graphical-models/videos/10-01-part2.mp4
graphical-models/videos/10-01-part3.mp4
graphical-models/videos/13-12-part1.mp4
